# OS / editor junk
Thumbs.db
Desktop.ini
.DS_Store
*.swp
*~

# Local server / tooling artifacts
.cache/
node_modules/

# Accidental temp files
*.tmp
*.log
${base}*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
